<div class="container">
	<br>
	<p>
	  <strong>Name:</strong>
	  <%= @band.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @band.description %>
	</p>

	<p>
	  <strong>Genres:</strong>
	  <%= @band.genres %>
	</p>

	<%= link_to 'Ok', bands_path %>
</div>